@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: #D5FF3F;
}

nav {
    width: 100%;
    padding: 40px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    font-style: italic;
}

nav h2{
    font-size: 48px;
    font-weight: 500;
    cursor: pointer;
}

nav a{
    font-size: 25px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

section{
    padding: 0px 60px;
}

section .hero-text1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    letter-spacing: -15px;
}

.hero-text1 h1 {
    font-size: 250px;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: sans-serif;
}

.hero-text1 .video{
    height: 130px;
    width: 500px;
    background-color: black;
    border-radius: 100px;
    margin-top: 80px;
    margin-right: 50px;
    background-image: url(https://images.unsplash.com/photo-1727941807273-35ce32752dd5?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    padding: 10px;
    border: 3px solid #90b40f;
}

.video .play {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.hero-text1 i{
    padding: 60px 80px;
    font-size: 40px;
    position: absolute;
    z-index: 10;
    color: rgba(128,128,128,0.2);
}

.play i{
    transform: translate(-4px,-1px);
    font-size: 40px;
    color: #D5FF3F;
    cursor: pointer;
}

section .hero-text2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-text2 h1 {
    font-size: 250px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -15px;
    font-family: sans-serif;
}

.hero-text2 p {
    font-size: 40px;
    width: 700px;
    margin-top: 60px;
    font-weight: 100;
    font-style: italic;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 50px;
    gap: 20px;
  }

.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 650px;
    height: 100%;
    font-size: 30px;
    background-color: #fff; 
    border: 1px solid #000; 
    border-radius: 50px;
    padding: 10px;
    background: transparent;
    font-weight: 300;
    font-weight: lighter;
  }

  .shape i{
    color: rgba(128,128,128,0.5);
    font-size: 40px;
  }

.line {
    height: 2px;
    background-color: #ccc; 
    width: 100%;
  }

.image{
    margin-top: 80px;
    height: 800px;
    width: 90%;
    margin-left: 5%;
    border-radius: 50px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background-image: url(photo.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.image .arrow{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    border: 10px solid rgba(128,128,128,0.2);
    position: absolute;
    right: 7%;
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow i{
    background-color: transparent;
    font-size: 150px;
    color: #D5FF3F;
    cursor: pointer;
}

.io{
    background-color: #D5FF3F;
}

.black{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background-color: black;
    gap: 40px;
}

.black h1,i{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    color: #D5FF3F;
}

@media (max-width: 1300px) {
    nav {
        width: 100%;
        padding: 40px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section .hero-text1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 30px;
        letter-spacing: -15px;
    }
    
    .hero-text1 h1 {
        font-size: 150px;
        font-weight: 400;
    }

    .hero-text2 h1 {
        font-size: 150px;
        font-weight: 400;
    }
}